<!-- including header -->
<%- include("partials/header") %>

    <div class="row featurette">
        <div>
            <h2 class="featurette-heading"> What is GitHub Projects?</h2>
            <p class="lead">
                GitHub Projects is a customizable spreadsheet that
                integrates with you issuies and pull requests on GitHub.
                I choose a basic kanban for my project, as you can see on
                the image. It contains a: <span class="bold">To do list, In Progress list,
                    Done list and Problems list.</span>
            </p>
        </div>
        <img class="documentation-img" src="src/githubProjects.png" alt="Github projects basic plan">
        </div>
        
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">How did I use it?</h2>
                <p class="lead">
                    I made tasks for myself, where I stated a date I wanted it done.
                    While I was working on the tasks, I put them in the <span class="bold">In Progress list</span>.
                    When i finished the task I wrote down when I actually finished it and
                    moved them to the <span class="bold">Done list</span>. If any problems occurred,
                    I wrote them down in the <span class="bold">Problems list</span> and set a date I wanted them fixed.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="src/githubProjects2.png" alt="Task">
                <img src="src/problemsGithub.png" alt="Problem Task">
            </div>
        </div>
        
        <hr class="featurette-divider">
        <div class="row featurette">
            <div>
                <h2 class="featurette-heading">Why did i do this?</h2>
                <p class="lead">
                    The reason I used GitHub Projects is because it is a very useful
                    tool. It is a type of project methodology. You divide your big task into smaller
                    tasks that make it easier to plan and execute them. In other situations where
                    you work with others, it provides good predictability and an overview of what
                    has been done and what is missing.
                </p>
            </div>
    </div>

<!-- including footer -->
<%- include("partials/footer") %>