<!-- including header -->
<%- include("partials/header") %>


        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Log out </h2>
                <p class="lead">If you really have to leave, click here :(</p>
            </div>
            <div class="col-md-5 button">
                <a href="/logout" class="w-100 btn btn-lg btn" role="button">Log out</a>
            </div>
        </div>

<!-- including footer -->
<%- include("partials/footer") %>