<!-- including header -->
<%- include("partials/header") %>
        <!-- START THE FEATURETTES -->

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Sign in </h2>
                <p class="lead">Sign into you beautiful account by clicking the button!</p>
            </div>
            <div class="col-md-5 button">
                <a href="/signin" class="w-100 btn btn-lg btn" role="button">Sign in</a>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Register</h2>
                <p class="lead">You don't have an account? Make one now by clicking the button!</p>
            </div>
            <div class="col-md-5 order-md-1 button">
                <a href="/register" class="w-100 btn btn-lg btn" role="button">Register</a>
            </div>
        </div>

        

        <!-- /END THE FEATURETTES -->

<!-- including footer -->
<%- include("partials/footer") %>