<!-- including header -->
<%- include("partials/header-logins") %>

    <!-- register form -->
    <main class="form-signin">
        <form action="/register" method="post">
            <img class="profile mb-4 " src="src/profile.jpg" alt="Profile image">
            <h1 class=" h3 mb-3 fw-normal">Register</h1>

            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Username" name="username" required>
                <label for="username">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
                <label for="password">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" placeholder="Password" name="password2" required>
                <label for="password2">Repeat password</label>
            </div>
            <!-- error message when passwords dont match -->
            <div id="error-message" style="display:none;"></div>

            <button class="w-100 btn btn-lg btn" type="submit">Submit</button>

            <!-- switch to log in site -->
            <a href="/signin">
                <p class="switch-method">Already have an acount? Log in</p>
            </a>

            <p class="mt-5 mb-3 text-muted">&copy; Amiiika & Co</p>
        </form>
    </main>

<!-- including footer -->
<%- include("partials/footer-logins") %>