<!-- including header -->
<%- include("partials/header") %>

    <div class="row featurette">
        <p> hei eowhfiuwehgfiøwesr</p>
    </div>

    <!-- including footer -->
    <%- include("partials/footer") %>