html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(209, 205, 230);
}

/* form settings */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.switch-method {
    margin-top: 5%;
}

/* button */
.btn {
    background-color: rgb(138, 126, 196);
    color: whitesmoke;
    margin-top: 5%;
}
.btn:hover {
    background-color: rgb(164, 154, 218);
    color: rgb(74, 63, 129);
}

/* the image over form */
.profile {
    width: 30%;
}
/* error message */
.error-message {
    color: rgb(140, 34, 34);
    font-size: 1rem;

}