html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(208, 202, 237);
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.switch-method {
    margin-top: 5%;
}


.btn {
    background-color: rgb(138, 126, 196);
    color: whitesmoke;
    margin-top: 5%;
}

.profile {
    width: 30%;
}